
__pycache__/
*.py[cod]
*.pyo
*.pyd


*.egg
*.egg-info/
dist/
build/
*.log
*.tmp
*.db
*.sqlite3


.venv/
venv/
env/


*.ipynb
.ipynb_checkpoints/

# 🖼️ OS-Dateien
.DS_Store
Thumbs.db


.vscode/
.idea/


.env
*.env
*.secret
config.yml
secrets.yml






*.sav
*.joblib
*.pkl


*.swp
*.bak

 catboost_info/